.active{
    font-weight: bold;
}

.error {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.error__code{
    color: red;
    font-size: 5em;
}

.grid--home {
    height: 70vh;
    margin: 3em auto;
    text-align: center;
    gap: 3em;
    justify-content: space-evenly;
    align-items: center;
}

.user-header {
    margin: 3em auto;
    text-align: center;
}

.user-header img {
    height: 8em;
    width: auto;
    display: block;
    margin: auto;
    border-radius: 1em;
}

.watchlist__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1em;
}

.watchlist__grid div {
    width: 100%;
    height: max-content;
    background-size: cover;
}

.theme-switcher{
    position: fixed;
    bottom: 2em;
    right: 1em;
    width: fit-content;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0;
    z-index: 100;
}

.theme-switcher__icon {
    font-size: 1em;
    font-weight: bolder;
}

.auth-btn{
    margin-top: auto;
}


@media(min-width: 992px){
    .auth-form__image {
        display: block;
        margin: auto;
    }

}

@media(max-width: 992px){
    .auth-form__image {
        display: none;
    }

}