.active{
    font-weight: bold;
}

.error {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.error__code{
    color: red;
    font-size: 5em;
}

.theme-switcher{
    position: fixed;
    bottom: 2em;
    right: 1em;
    width: fit-content;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0;
    z-index: 100;
}

.theme-switcher__icon {
    font-size: 1em;
    font-weight: bolder;
}

.auth-btn{
    margin-top: auto;
}

@media(min-width: 992px){
    .auth-form__image {
        display: block;
        margin: auto;
    }

}

@media(max-width: 992px){
    .auth-form__image {
        display: none;
    }

}